<div class="container">
  <h2>View Team</h2>

  <div class="row" id="team-hero-display">

    <% @team.heros.each do |hero|%>
      <%= render hero %>
    <% end %>

  </div>

  <div class="row">
    <p>Best countered by:</p>
  </div>

</div>