<%# NOTE: Parent node must have class="row" %>
<div class="col col-3">
  <%= link_to image_tag("/images/#{hero.name.downcase.underscore.gsub(/[\. ]/, '_')}.png", alt: hero.name), hero %>
    <h2 class="hero-title">
      <div>&nbsp;<%= render "heros/icon_#{hero.role.name.downcase}" %></div>
      <div style="text-align: center;"><%= hero.name %>&nbsp;</div>
    </h2>
</div>