<p style="color: green"><%= notice %></p>

<h1>Heros</h1>

<%= link_to 'Manage Hard Counters', '/hard_counters' %>

<div id="heros">
  <table class='table'>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th></th>
    </tr>

  <% @heros.each do |hero| %>
    <%= render hero %>
  <% end %>

  </table>
</div>

<%= link_to "New hero", new_hero_path %>
