<div>

  <table>
    <thead>
      <tr>
        <th> <%= hard_counter.versus_hero.name %> </th>
        <td> <%= hard_counter.strength %> </td>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>
</div>