
@font-face {
  font-family: 'big_noodle_titling';
  src: url('big_noodle_titling.ttf') format('truetype');
}
@font-face {
  font-family: 'big_noodle_titling_oblique';
  src: url('big_noodle_titling_oblique.ttf') format('truetype');
}

h2.hero-title {
  font-family: 'big_noodle_titling_oblique';
  font-size: 2em;
  display: flex;
  justify-content:space-between;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-width: 179px;
  position: relative;
  top: -45px;
}

img {
  width: 100%;
  min-width: 179px;
}

#hero-team-select {
  height: 100vh;
  width: 300px;
}

.hero-checkbox{
  min-width: 50px;
  height: 100px
}

/* * {background-color: red;} */